body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 1em auto;
    width: 350px;
    padding: 0 2em 1em;
    border: 1px solid black;
    border-radius: 1em;
}
h1 {
    color: cornflowerblue;
}
input, button {
    margin: 0 0.5em 1em 0;
}
#history {
    font-size: 0.9em;
    color: #666;
}
#message {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}